@import '../../theme/variables.scss';

.flight-log-item {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    width: 100%;

    &__card {
        flex-grow: 1;
    }

    &__avatar {
        width: $small_icon_size;
        height: $small_icon_size;
    }

    @media (min-width: $breakpoint-md) {
        &__avatar {
            /* Larger size for bigger screens */
            width: $medium_icon_size;
            height: $medium_icon_size;
        }
    }

    @media (min-width: $breakpoint-lg) {
        &__avatar {
            /* Even larger for desktops or large tablets */
            width: $large_icon_size;
            height: $large_icon_size;
        }
    }
}