@import '../../theme/variables.scss';

#map {
    width: 100%;
    height: 300px;
}

@media (min-width: $breakpoint-md) {
    #map {
        height: 600px;
    }
}

.map-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;

    &__list {
        margin-bottom: 30px
    }

    &__content {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
    }

    @media (min-width: $breakpoint-md) {
        &__content {
            display: flex;
            flex-direction: row;
        }
    }

    &__map {
        margin: auto;
    }

    @media (min-width: $breakpoint-md) {
        &__map {
            flex: 2;
        }

        &__airport-info {
            flex: 1;
        }
    }

    &__airport-info-card {
        height: 100%;
    }
}

ion-card {
    margin: 0px;
}