<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">map</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="map-page">
    <div class="map-page__list">
      <ion-list>
        <ion-item>
          <ion-select aria-label="Airports" interface="popover" placeholder="Select airport"
            (ionChange)="onSelectAirport($event)">
            <ion-select-option *ngFor="let airport of airportsVisited"
              [value]="airport">{{airport.airport}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
    <div class="map-page__content">
      <div class="map-page__map" id="map"></div>
      <div class="map-page__airport-info">
        <ion-card class="map-page__airport-info-card">
          <ion-card-header>
            <ion-card-title>{{airportData?.ident ?? 'Select an airport'}}</ion-card-title>
            <ion-card-subtitle>{{airportData?.name}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content *ngIf="airportData">

            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="ion-justify-content-center">
                    <div><ion-text>Visited</ion-text></div>
                    <div><ion-text color="secondary">{{selectedVisitedAirport?.arrivalCount}}</ion-text></div>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="ion-justify-content-center">
                    <div><ion-text>Departed</ion-text></div>
                    <div><ion-text color="secondary">{{selectedVisitedAirport?.departureCount}}</ion-text></div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="ion-justify-content-center">
                    <div><ion-text>Elevation</ion-text></div>
                    <div><ion-text color="secondary">{{airportData.elevation_ft}}</ion-text></div>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="ion-justify-content-center">
                    <div><ion-text>Lat - Long</ion-text></div>
                    <div><ion-text color="secondary">{{airportData.latitude_deg}} -
                        {{airportData.longitude_deg}}</ion-text></div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="ion-justify-content-center">
                    <div><ion-text>Country</ion-text></div>
                    <div><ion-text color="secondary">{{airportData.iso_country}}</ion-text></div>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="ion-justify-content-center">
                    <div><ion-text>Municipality</ion-text></div>
                    <div><ion-text color="secondary">{{airportData.municipality}}</ion-text></div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="ion-justify-content-center">
                    <div><ion-text>Type</ion-text></div>
                    <div><ion-text color="secondary">{{airportData.type}}</ion-text></div>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="ion-justify-content-center">
                    <div><ion-text>Region</ion-text></div>
                    <div><ion-text color="secondary">{{airportData.iso_region}}</ion-text></div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>